<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatis.mapper.EmployeeMapper">
    <!--自定义映射[员工与部门的关系]-->
    <resultMap id="empAndDeptResultMap" type="employee">
        <!-- 定义主键字段与属性关联关系 -->
        <id column="id" property="id"></id>
        <!-- 定义非主键字段与属性关联关系 -->
        <result column="last_name" property="lastName"></result>
        <result column="email" property="email"></result>
        <result column="salary" property="salary"></result>
        <!-- 为员工中的所属部门，自定义关联关系 -->
        <result column="dept_id" property="dept.deptId"></result>
        <result column="dept_name" property="dept.deptName"></result>
    </resultMap>

    <select id="selectEmpAndDeptByEmpId" resultMap="empAndDeptResultMap">
        SELECT
            e.`id`,
            e.`email`,
            e.`last_name`,
            e.`salary`,
            d.`dept_id`,
            d.`dept_name`
        FROM
            tbl_dept d,tbl_employee e
        WHERE
            e.`dept_id`=d.`dept_id`
          AND
            e.`id` = #{empId}
    </select>


    <!-- 自定义映射[员工与部门的关系] -->
    <resultMap id="empAndDeptResultMapAssociation" type="employee">
        <!-- 定义主键字段与属性关联关系 -->
        <id column="id" property="id"></id>
        <!-- 定义非主键字段与属性关联关系 -->
        <result column="last_name" property="lastName"></result>
        <result column="email" property="email"></result>
        <result column="salary" property="salary"></result>
        <!-- 为员工中的所属部门，自定义关联关系 -->
        <association property="dept"
                     javaType="com.atguigu.mybatis.pojo.Dept">
            <id column="dept_id" property="deptId"></id>
            <result column="dept_name" property="deptName"></result>
        </association>
    </resultMap>

    <select id="selectEmpAndDeptByEmpIdAssociation" resultMap="empAndDeptResultMapAssociation">
        SELECT
            e.`id`,
            e.`email`,
            e.`last_name`,
            e.`salary`,
            d.`dept_id`,
            d.`dept_name`
        FROM
            tbl_dept d,tbl_employee e
        WHERE
            e.`dept_id`=d.`dept_id`
          AND
            e.`id` = #{empId}
    </select>
</mapper>