
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
      <meta charset=" UTF-8">
<title>文件下载页面</title>
</head>
<body>
  <div align="center">
    <h2>atguigu_220106资源库</h2>
    <a th:href="@{/fileDownloadController(filename='1.jpg')}">1.jpg</a><br>
    <a th:href="@{/fileDownloadController(filename='2.jpg')}">2.jpg</a><br>
    <a th:href="@{/fileDownloadController(filename='3.jpg')}">3.jpg</a><br>
    <a th:href="@{/fileDownloadController(filename='4.jpg')}">4.jpg</a><br>
    <a th:href="@{/fileDownloadController(filename='励志名言.txt')}">励志名言.txt</a><br>
    <a th:href="@{/fileDownloadController(filename='廉洁党风.pptx')}">廉洁党风.pptx</a><br>
  </div>
</body>
</html>