<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.atguigu"></context:component-scan>

    <bean class="org.thymeleaf.spring5.view.ThymeleafViewResolver">
        <property name="characterEncoding" value="UTF-8"></property>
        <property name="templateEngine">
            <bean class="org.thymeleaf.spring5.SpringTemplateEngine">
                <property name="templateResolver">
                    <bean class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">
                        <property name="characterEncoding" value="UTF-8"></property>
                        <property name="prefix" value="/WEB-INF/pages/"></property>
                        <property name="suffix" value=".html"></property>
                    </bean>
                </property>
            </bean>
        </property>
    </bean>

    <!--装配CommonsMultipartResolver-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"></property>
    </bean>
    <!--装配拦截器-->
    <mvc:interceptors>
        <!--<bean class="com.atguigu.interceptor.MyInterCeptor"></bean>-->
        <ref bean="myInterCeptor"></ref>
    </mvc:interceptors>
    <!--装配首页控制器-->
    <mvc:view-controller path="/" view-name="index"></mvc:view-controller>
    <mvc:view-controller path="/messageConverter" view-name="messageConverter"></mvc:view-controller>
    <mvc:view-controller path="/tofileDownloadPage" view-name="fileDownloadPage"></mvc:view-controller>
    <mvc:view-controller path="/tofileUploadPage" view-name="fileUploadPage"></mvc:view-controller>
    <!--解决静态资源的加载问题-->
    <mvc:default-servlet-handler></mvc:default-servlet-handler>
    <!--解决控制器和静态资源加载后续【导致Controller无法正常使用】问题-->
    <mvc:annotation-driven></mvc:annotation-driven>
</beans>